@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

@theme {
  /* Colors */
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #8b5cf6;

  /* Text Colors */
  --color-heading: #222222;
  --color-heading-dark: #f5f5f5;
  --color-text: #797979;
  --color-text-dark: #e5e5e5;
  --color-text-muted: #a0a0a0;
  --color-text-muted-dark: #a3a3a3;

  /* Backgrounds */
  --color-bg: #f5f5f5;
  --color-bg-dark: #151515;

  /* Fonts */
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Poppins", sans-serif;

  /* Screens */
  --breakpoint-xsm: 480px;
}

@layer base {
  body {
    @apply font-body;

    background-color: var(--color-bg);
    color: var(--color-text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;

    color: var(--color-heading);
  }

  .dark body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
  }

  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6 {
    color: var(--color-heading-dark);
  }
}
